@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/Minecrafter-MA3Dw.ttf');

}

@font-face {
    font-family: 'Minecraft-Regular';
    src: url('/MinecraftRegular-Bmg3.otf');

}

body {
    background: url("/to-do-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;

}

body::-webkit-scrollbar {
    display: none;
  }


h1 {
    font-size: 10rem;
    font-family: "Minecraft";
    height: 200px;
}

input {
    border: 4px solid #9f9d9e;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    width: 18vw;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Minecraft-Regular';
    font-size: 1.5rem;
    color: #fffdf9;
    height: 4rem;
    width: 30vw;
}

input:focus {
    outline: none;
}

.add-btn {
    background-color: #0cba1d;
    height: auto;
    border: #373737 solid 4px;
    margin-bottom: 10px;
    width: 7vw;
    font-size: 1.5rem;
    font-family: 'Minecraft-Regular';
    color: #fffdf9;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    gap: 3rem;

}

.main-content {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


}

.main-content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    inset: 0;
    filter: blur(10px);
    margin: -20px;
}


.list-section li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: black 1px solid;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-wrap: wrap;
    width: 70%;
}

.input-section {
    display: flex;
}


.item-del {
    display: flex;
    justify-content: space-between;
    border: 4px solid #9f9d9e;
    background-color: black;
    color: #fffdf9;
    font-family: 'Minecraft-Regular';
    font-size: 1.5rem;
    justify-items: center;
    align-items: center;
    margin: 10px;
    /* background-color: white */
}

.item-del button {
    background-color: rgb(207, 27, 14);
    margin-right: 2rem;
    height: fit-content;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    width: 100px;
}

.completed-to-do {
    position: absolute;
    background-color: #4a2d28;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Minecraft-Regular';
    font-size: 1.5rem;
    color: #fffdf9;
    right: 0;
    top: 0;
    margin: 12px;
    z-index: 1;
}

.comp-list {
    position: absolute;
    margin: 12px;
    margin-top: 5rem;
    height: auto;
    right: 0;
    top: 0;
    background-color: #4a2d28;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Minecraft-Regular';
    font-size: 1.5rem;
    color: #fffdf9;
    border: #000000 solid 3px;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    
}


@media (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
    display: none;
  }
    .main-body{
        flex-direction: column;
        gap: 0;
    }
    .main-content{
        width: 90vw;
    }

    h1{
        font-size: 8rem;
        text-align: center;
        height: fit-content;
    }
    .input-section{
        margin: 0;
        gap: 20px;
        
    }

    input{
        width: 60vw;
        height: auto;
        margin: 0;
        font-size: 1.8rem;

    }

    .add-btn{
        margin: 0;
        height: auto;
        width: 24vw;
        font-size: 1.8rem;
    }

    .item-del{
        font-size: 1.8rem;
        height: auto;
        
    }


    .item-del button{
        z-index: 1;
    }

    .completed-to-do{
        position: relative;
        font-size: 2rem;
    }

    .comp-list{
        position:relative ;
        width: 90vw;
        margin-top: 10px;
        font-size: 1.2rem;
        transform: translate(110%);
    }
}

@media (max-width:768px){
    body{
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
    display: none;
  }
    .main-body{
        flex-direction: column;
        gap: 0;
    }
    .main-content{
        width: 90vw;
    }

    h1{
        font-size: 6rem;
        text-align: center;
        height: fit-content;
    }
    .input-section{
        margin: 0;
        gap: 10px;
        
    }

    input{
        width: 60vw;
        height: 5vh;
        margin: 0;
        font-size: 1.5rem;

    }

    .add-btn{
        margin: 0;
        height: 5vh;
        width: 24vw;
        font-size: 1.5rem;
    }

    .item-del{
        font-size: 1.5rem;
        height: auto;
        
    }


    .item-del button{
        z-index: 1;
    }

    .completed-to-do{
        position: relative;
        font-size: 1.7rem;
    }

    .comp-list{
        position:relative ;
        width: 90vw;
        margin-top: 10px;
        font-size: 1.5rem;
        transform: translate(110%);
    }
}

@media (max-width:425px){
    body{
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
    display: none;
  }
    .main-body{
        flex-direction: column;
        gap: 0;
    }
    .main-content{
        width: 90vw;
    }

    h1{
        font-size: 4rem;
        text-align: center;
        height: fit-content;
    }
    .input-section{
        margin: 0;
        
    }

    input{
        width: 60vw;
        height: 5vh;
        margin: 0;
        font-size: 1rem;

    }

    .add-btn{
        margin: 0;
        height: 5vh;
        width: 24vw;
        font-size: 1rem;
    }

    .item-del{
        font-size: 1rem;
        height: auto;
        
    }


    .item-del button{
        z-index: 1;
    }

    .completed-to-do{
        position: relative;
        font-size: 1.3rem;
    }

    .comp-list{
        position:relative ;
        width: 90vw;
        margin-top: 10px;
        font-size: 1.2rem;
        transform: translate(110%);
    }
}

@media (max-width:375px){
    body{
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
    display: none;
  }
    .main-body{
        flex-direction: column;
        gap: 0;
    }
    .main-content{
        width: 90vw;
    }

    h1{
        font-size: 3rem;
        text-align: center;
        height: fit-content;
    }
    .input-section{
        margin: 0;
        
    }

    input{
        width: 60vw;
        height: 5vh;
        margin: 0;
        font-size: 1rem;

    }

    .add-btn{
        margin: 0;
        height: 5vh;
        width: 24vw;
        font-size: 1rem;
    }

    .item-del{
        font-size: 1rem;
        height: auto;
        
    }


    .item-del button{
        z-index: 1;
    }

    .completed-to-do{
        position: relative;
        font-size: 1.3rem;
    }

    .comp-list{
        position:relative ;
        width: 90vw;
        margin-top: 10px;
        font-size: 1.2rem;
        transform: translate(110%);
    }
}

@media (max-width:320px){
    body{
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
    display: none;
  }
    .main-body{
        flex-direction: column;
        gap: 0;
    }
    .main-content{
        width: 90vw;
    }

    h1{
        font-size: 3rem;
        text-align: center;
        height: fit-content;
    }
    .input-section{
        margin: 0;
        
    }

    input{
        width: 60vw;
        height: 5vh;
        margin: 0;
        font-size: 1rem;

    }

    .add-btn{
        margin: 0;
        height: 5vh;
        width: 24vw;
        font-size: 1rem;
    }

    .item-del{
        font-size: 1rem;
        height: auto;
        
    }


    .item-del button{
        z-index: 1;
    }

    .completed-to-do{
        position: relative;
        font-size: 1.3rem;
    }

    .comp-list{
        position:relative ;
        width: 90vw;
        margin-top: 10px;
        font-size: 1.2rem;
        transform: translate(110%);
    }
}





